.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0;
}

.nav ul {
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.link li {
  font-size: 1.4em;
  font-weight: 300;
  width: 100%;
}

.line {
  height: 1px;
  background: #c3c3c3;
}

.link {
  color: inherit; /* or any color you want */
  text-decoration: none; /* to remove underline */
}
.link:hover {
  color: inherit; /* or any color you want */
  text-decoration: none; /* to remove underline */
}
